
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status, #number_object, #start
{
font-size: 18px;
}

body
{
    background-size: cover;
    background-position: center;
    text-align: center;
}

canvas
{
    box-shadow: 12px 12px 12px grey;
    border-radius: 25px;
    margin-top: 25px;
}

.heading2
{
    font-size: 14px;
}
